.label-1-5 {
    background-color: #240019;
    color: #ea00f4;
}

.label-2-6 {
    background-color: #385942;
    color: #45ff3f;
}

.label-3-7 {
    background-color: #0045df;
    color: #00ffff;
}

.label-4-8 {
    background-color: #b48400;
    color: #ecff00;
}