* {
    font-family: 'Ubuntu Mono';
    font-weight: bolder;
    color: white;
    margin: 0;
}

html {
    overflow-x: hidden;
}

#main-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
} /* TODO: Terminar los estilos del CSS */

body {
    background-color: #1d151f;
}

td {
    margin: 5px;
    border: 1px solid #342c36;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 50px;

    transition: background-color .3s;
}

td img {
    width: inherit;
    height: inherit;
    position: absolute;
    box-sizing: content-box;
}

td span {
    position: absolute;
    font-size: 30pt;
}

tr {
    display: flex;
}

td button {
    position: relative;
    opacity: 100;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    border: none;

    border-radius: 10px;

    background-color: #333340;
    z-index: 4;
    width: 150%;
    height: 115%;
    box-shadow: -5px 5px #194a40;

    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button-hide {
    opacity: 0;
}

td button:hover {
    background-color: #444455;
    margin-top: -10px;
}

button i {
    font-size: 25px;
    color: white;
}

button i::before {
    font-size: 25px;
    color: white;
}

.hide {
    display: none;
}

.alert {
    border-radius: 10px;
    top: auto;
    bottom: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.win-alert {
    background-color: #26ff05;
}

.loose-alert {
    background-color: #8f1010;
}

.alert p {
    font-size: 40pt;
    color: #1d151f;
    text-align: center;
    width: 100%;
}

.loose-alert p {
    color: #fff;
}