* {
    font-family: 'Ubuntu Mono';
    font-weight: bolder;
    color: white;
    margin: 0;
}

img {
    pointer-events: none;
}

button i {
    pointer-events: none;
}

html {
    overflow-x: hidden;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
} /* TODO: Terminar los estilos del CSS */

#main-grid {
    transition: all 2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    margin-top: auto;
    margin-bottom: auto;
}

body {
    background-color: #1d151f;
}

td {
    margin: 5px;
    border: 1px solid #342c36;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 50px;

    transition: background-color .3s;
}

td img {
    width: inherit;
    height: inherit;
    position: absolute;
    box-sizing: content-box;
}

td span {
    position: absolute;
    font-size: 30pt;
}

tr {
    display: flex;
}

td button {
    position: relative;
    opacity: 100;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    border: none;

    border-radius: 10px;

    background-color: #333340;
    z-index: 4;
    width: 150%;
    height: 115%;
    box-shadow: -5px 5px #194a40;

    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button-hide {
    opacity: 0;
}

td button:hover {
    background-color: #444455;
    margin-top: -10px;
}

button i {
    font-size: 25px;
    color: white;
}

button i::before {
    font-size: 25px;
    color: white;
}

.hide {
    display: none;
}

.alert {

    position: absolute;


    margin-top: 1rem;
    border-radius: 10px;
    top: auto;
    bottom: auto;
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 3rem;
}

.win-alert {
    background-color: #26ff05;
}

.loose-alert {
    background-color: #8f1010;
}

.alert span {
    font-size: 30pt;
    color: #1d151f;
}

.loose-alert p {
    color: #fff;
}

.max-screen-opacity {
    position: absolute;
    top: 0;
    z-index: 500;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0;
}

.d-none {
    display: none;
}